@charset: "UTF-8";

/*Public*/
.sitelet_container {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.sitelet_container ul {
    list-style-type: none;
    padding-left: 0;
}

.sitelet_container a {
    border: 0 !important;
    opacity: 1 !important;
}


/*Public Header*/

.sitelet_container footer {
    overflow: hidden;
    background-color: #053253;
    padding: 0;
    margin: 0;
}

.sitelet_container footer ul {
    overflow: hidden;
    padding: 55px 0;
}

.sitelet_container footer ul a {
    text-decoration: none !important;
}

.sitelet_container footer ul li {
    float: left;
}


/*Deksop*/

@media (min-width: 769px) {
    .mobile {
        display: none !important;
    }
    /*
    ---------- Header ----------------
    */
    .sitelet_container header {
        width: 100%;
        height: 95px;
        position: relative;
    }
    .sitelet_container header .headLine {
        width: 100%;
        height: 50px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: #E7E1D3;
    }
    .sitelet_container header .headLine #tkLogo {
        float: right;
        position: absolute;
        right: 35px;
        top: 8px;
    }
    /*
    ---------- Footer ----------------
    */
    .sitelet_container footer .footLine {
        width: 940px;
        margin: 0 auto;
    }
}


/*Mobile*/

@media (max-width: 768px) {
    .desktop {
        display: none !important;
    }
    /*
    ---------- Header ----------------
    */
    .sitelet_container header .headLine {
        overflow: hidden;
        background-color: #053253;
    }
    .sitelet_container header .headLine .mobile{
        padding: 24px 0;
        width: 166px;
    }
    /*
    ---------- Footer ----------------
    */
    .sitelet_container footer .footLine {
        width: 270px;
        margin: 0 auto;
    }
}

/*Landing CSS*/
@charset: "UTF-8";

/*Public*/

#LandingTitle p {
    font-family: Arial;
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    color: #323232;
    margin: 0;
}

#regions {
    overflow: hidden;
}

#left-regions li {
    margin-bottom: 2px;
}

#MoreChoose {
    overflow: hidden;
}

#MoreChoose p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: #323232;
    margin: 0;
}

#MoreChoose a {
    background-color: #0C4E79 !important;
    text-decoration: none !important;
    text-transform: none;
    border-radius: 0;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0;
}


/*Sweepstakes*/

#sweepstakes {
    background-color: #E7E1D3;
}

#sweepstakes #sweepstakes_title p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: #323232;
}

#sweepstakes #sweepstakes_form #form-fields {
    text-align: left;
}

#sweepstakes_form #form-fields .form-group {
    margin-bottom: 10px;
}

#sweepstakes_form #form-fields .form-group label {
    font-family: Arial;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: #323232;
    margin-bottom: 7px;
}

#sweepstakes_form #form-fields .optin-field span {
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    color: #323232;
}

#sweepstakes_form #sw-submit-container a {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
    text-transform: none;
    border-radius: 0;
    background-color: #0C4E79 !important;
    text-decoration: none !important;
    letter-spacing: 0;
}

#sweepstakes_form #form-fields .optin-field .checkbox-label {
    margin-bottom: 7px;
}

#sweepstakes_form #form-fields .optin-field .checkbox-label .fake-checkbox {
    margin-right: 7px;
    border-color: #C3C3C3;
}
input[type=checkbox].hide:checked+label>.fake-checkbox:before{
    color: #0C4E79 !important;
}
#sweepstakes_form #entry-duplicateMsg {
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
}


/*Sweepstakes success*/

#sweepstakes-success {
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: rgba(136, 136, 136, .6);
    display: none;
}

#sweepstakes-success #sweepstakes-success-content {
    background-color: #E7E1D3;
}

#sweepstakes-success #sweepstakes-success-close {
    text-align: right;
}

#sweepstakes-success #sweepstakes-success-close #sweepstakes-success-close-button {
    cursor: pointer;
}

#sweepstakes-success #sweepstakes-success-msg {
    text-align: center;
}


/*Desktop*/

@media (min-width: 769px) {
    #main {
        width: 983px;
        margin: 0 auto;
    }
    #LandingTitle img.desktop {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    /*regions*/
    #share-desktop {
        margin-top: 9px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    #share-desktop img {
        float: right;
    }
    #left-regions {
        float: left;
        width: 263px;
        margin-right: 10px;
    }
    #right-content {
        float: left;
        width: 710px;
    }
    /*MoreChoose*/
    #MoreChoose {
        margin: 50px 0;
    }
    #MoreChoose img {
        padding-top: 10px;
    }
    #MoreChoose p {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    #MoreChoose #packages {
        width: 50%;
        border-right: 1px solid #898989;
        float: left;
    }
    #MoreChoose #packages p {
        padding-left: 40px;
        padding-right: 40px;
    }
    #MoreChoose #destination {
        width: 50%;
        float: left;
    }
    #MoreChoose #destination p {
        padding-left: 110px;
        padding-right: 110px;
    }
    #MoreChoose a {
        width: 170px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    /*Sweepstakes*/
    #sweepstakes .sw-form {
        width: 650px;
        margin: 0 auto;
        padding: 50px 0;
    }
    #sweepstakes #sweepstakes_title .desktop {
        margin-bottom: 10px;
    }
    #sweepstakes #sweepstakes_title p {
        margin-bottom: 21px;
    }
    #sweepstakes #sweepstakes_form #form-fields {
        padding: 0 45px;
    }
    #sweepstakes_form #sw-submit-container {
        margin-top: 10px;
    }
    #sweepstakes_form #sw-submit-container #sw-submit {
        width: 170px;
        margin-left: auto;
        margin-right: auto;
    }
    #sweepstakes_form #sw-submit-container a {
        width: 170px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    #sweepstakes_form #entry-duplicateMsg {
        padding: 0 20px;
    }
    /*Sweepstakes success*/
    #sweepstakes-success #sweepstakes-success-content {
        width: 400px;
        height: 250px;
    }
    #sweepstakes-success #sweepstakes-success-close .sweepstakes-success-close-button {
        padding-top: 15px;
        padding-right: 15px;
    }
    #sweepstakes-success #sweepstakes-success-msg {
        padding-top: 24px;
    }
}


/*Mobile*/

@media (max-width: 768px) {
    #LandingTitle {
        margin: 35px 0;
    }
    #LandingTitle img.mobile {
        margin-bottom: 20px;
        width: 164px;
    }
    #LandingTitle p {
        padding: 0 40px;
    }
    /*regions*/
    #left-regions img {
        width: 100%;
    }
    /*MoreChoose*/
    #MoreChoose a {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #MoreChoose #packages {
        padding-top: 33px;
        padding-bottom: 35px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #898989;
    }
    #MoreChoose #packages p {
        padding: 10px 30px 20px 30px;
    }
    #MoreChoose #destination {
        padding: 35px 10px;
    }
    #MoreChoose #destination p {
        padding: 10px 15px 15px 15px;
    }
    /*Sweepstakes*/
    #sweepstakes .sw-form {
        margin-bottom: 35px;
    }
    #sweepstakes #sweepstakes_title .mobile {
        padding-top: 35px;
        padding-bottom: 20px;
        width: 189px;
    }
    #sweepstakes #sweepstakes_title p {
        padding: 0 20px 16px 20px;
        margin-bottom: 0;
    }
    #sweepstakes #sweepstakes_form .col-xs-12 {
        padding: 0;
    }
    #sweepstakes #sweepstakes_form .col-xs-6 {
        width: 100%;
    }
    #sweepstakes #sweepstakes_form #sw-submit-container {
        padding: 5px 10px 35px 10px;
    }
    #sweepstakes #sweepstakes_form #sw-submit-container a {
        width: 100%;
    }
    #share-mobile {
        margin-bottom: 35px;
    }
    #share-mobile img{
        height: 35px;
    }
    /*Sweepstakes Success*/
    #sweepstakes-success{
        padding:10px 10px 0 10px;
    }
    #sweepstakes-success #sweepstakes-success-content{
        width: 100%;
        height: 250px;
    }
    #sweepstakes-success #sweepstakes-success-content #sweepstakes-success-close .sweepstakes-success-close-button{
        padding-top: 7px;
        padding-right: 7px;
    }
    #sweepstakes-success #sweepstakes-success-content #sweepstakes-success-msg{
        padding-top: 27px;
    }
}
